form {
  background-color: var(--dark-gray);
  margin-bottom: 1rem;
}

form > .btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem 1rem;
  border-top: 2px solid var(--white);
}

form > .container {
  display: grid;
  gap: 1rem;
  padding: 2rem 1rem;
}

.submit-btn,
.cancel-btn {
  padding: 0.5em 1.2em;
  color: var(--white);
  font-weight: 600;
  border-color: var(--white);
}

.submit-btn {
  background-color: var(--blue);
}
.cancel-btn {
  background-color: var(--red);
}
