.work-exp-form > .container > p {
  color: var(--white);
}
.work-exp-form textarea {
  min-height: 5rem;
}

@media screen and (min-width: 38em) {
  .work-exp-form > .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .work-exp-form textarea,
  .work-exp-form > .container > p {
    grid-column: 2 span;
  }
}
