@font-face {
  font-family: "open-sans";
  src: url("././assets/open-sans-var.woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-open-sans: "open-sans", sans-serif;
  --fs: clamp(1rem, 1rem + 0.5vw, 3rem);

  --btn-size: 3rem;

  --red: #dc2626;
  --green: #16a34a;
  --blue: #0284c7;
  --white: #fff;
  --dark-gray: #282828;
}

body {
  font-family: var(--ff-open-sans);
  font-size: var(--fs);
}

.cv-app {
  max-width: 80ch;
  margin: 0 auto;
  margin-bottom: 2rem;
}

input,
button,
textarea {
  font: inherit;
  border-radius: 6px;
  border-color: transparent;
}

input[type="number"] {
  max-width: 6ch;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  border-color: unset;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  margin-left: 0.5rem;
}

section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

section > header ~ article .content.edit-mode {
  margin-top: 3.5rem;
  border-bottom: 1px dashed hsla(0, 0%, 0%, 0.5);
}

section > header ~ article :last-child.content.edit-mode {
  border-bottom: none;
}

section > header ~ article article.content {
  position: relative;
  display: grid;
  gap: 0.4rem;
  padding: 0.5rem 1rem;
}

.btn-bg {
  min-width: var(--btn-size);
  min-height: var(--btn-size);
  background-size: cover;
  background-color: var(--white);
}

.add-btn {
  background-image: url("./assets/add.svg");
}
.edit-btn {
  background-image: url("./assets/edit.svg");
}
.delete-btn {
  background-image: url("./assets/delete.svg");
}

.add-btn:active,
.add-btn:focus-visible {
  background-image: url("./assets/add-hover.svg");
  border-color: var(--green);
}
.edit-btn:active,
.edit-btn:focus-visible {
  background-image: url("./assets/edit-hover.svg");
  border-color: var(--blue);
}
.delete-btn:active,
.delete-btn:focus-visible {
  background-image: url("./assets/delete-hover.svg");
  border-color: var(--red);
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
  }
  .add-btn:hover {
    background-image: url("./assets/add-hover.svg");
    border-color: var(--green);
  }
  .edit-btn:hover {
    background-image: url("./assets/edit-hover.svg");
    border-color: var(--blue);
  }
  .delete-btn:hover {
    background-image: url("./assets/delete-hover.svg");
    border-color: var(--red);
  }
}
